ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.1
    two_d_mode: true

    publish_tf: true
    publish_acceleration: false

    # 프레임들 (당신 토픽 출력과 일치)
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom   # 보통 wheel odom 융합 시작은 odom 기준

    # -----------------------
    # Wheel Odometry input
    # -----------------------
    odom0: /diff_drive_controller/odom
    odom0_config: [true,  true,  false,
                   false, false, true,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]
    odom0_differential: false
    odom0_relative: false

    # -----------------------
    # IMU input
    # -----------------------
    imu0: /imu_broadcaster/imu
    imu0_config: [false, false, false,
                  false, false, false,
                  false, false, false,
                  true,  true,  true,
                  false, false, false]
    imu0_differential: false
    imu0_relative: false
    imu0_remove_gravitational_acceleration: true
